/* Container for the entire apply job section */
.applyjob-container {
  max-width: 700px;
  margin: 3rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.applyjob-container h1 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  text-align: center;
}

.applyjob-container p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

/* Survey questions section */
.applyjob-question {
  margin-bottom: 1.5rem;
}

.applyjob-question label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* The textarea for answers */
.applyjob-question textarea {
  width: 96%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Submit button */
.applyjob-submitButton {
  display: block;
  background-color: rgb(254, 155, 34);
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3dvh auto 0 auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.applyjob-submitButton:hover {
  background-color: rgb(226, 138, 30);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Loading message style (optional) */
.applyjob-container h2 {
  font-size: 1.25rem;
  text-align: center;
  margin: 2rem 0;
}

.applyjob-attachment input {
  width: 97%;
}

.applyjob-attachment label {
  display: block;
  font-weight: 600;
}

.applyjob-attachment input[type="file"] {
  padding: 10px 10px 10px 2px;
  font-size: 1rem;
  cursor: pointer;
}

/* For Chrome, Edge, Safari */
.applyjob-attachment input[type="file"]::-webkit-file-upload-button {
  background-color: rgb(254, 155, 34);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

/* Add hover effect for WebKit browsers */
.applyjob-attachment input[type="file"]::-webkit-file-upload-button:hover {
  background-color: rgb(226, 138, 30);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* For Firefox and some other modern browsers */
.applyjob-attachment input[type="file"]::file-selector-button {
  background-color: rgb(254, 155, 34);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

/* Add hover effect for Firefox and other modern browsers */
.applyjob-attachment input[type="file"]::file-selector-button:hover {
  background-color: rgb(226, 138, 30);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
