.submitapplication-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submitapplication-container h1 {
  text-align: center;
}

.submitapplication-container form input,
.submitapplication-container form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitapplication-container label {
  font-weight: bold;
}

.submitapplication-container form button {
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  background: rgb(254, 155, 34);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.submitapplication-container form button:hover {
  background: rgb(226, 138, 30);
  transform: scale(1.05);
}

.remove-button {
  background: #dc3545;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.remove-button:hover {
  background: #c82333;
  transform: scale(1.02);
}

.back-btn {
  font-size: 1rem;
  background: rgb(254, 155, 34);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  width: 100px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.back-btn:hover {
  background: rgb(226, 138, 30);
  transform: scale(1.05);
}

.submitapplication-container .submit-button {
  margin-top: 20px;
  font-size: 1rem;
  background: rgb(254, 155, 34);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  display: block;
}

.submitapplication-container .submit-button:hover {
  background: rgb(226, 138, 30);
  transform: scale(1.05);
}

.submitapplication-container .remove-button {
  margin-top: 5px;
  background-color: #dc3545;
}

.submitapplication-container .remove-button:hover {
  background-color: #c82333;
}

.submitapplication-container .question {
  margin-bottom: 20px;
}

.submitapplication-container .attachment {
  margin-bottom: 20px;
}
