.saccount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  background: #f3e3bc;
}

.saccount-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  transition: transform 0.2s ease;
}

.saccount-card:hover {
  transform: translateY(-5px);
}

.saccount-card h1 {
  font-size: 2rem;
  color: rgb(254, 155, 34);
  margin-bottom: 20px;
}

.saccount-card p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.saccount-card button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(254, 155, 34);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.saccount-card button:hover {
  background-color: rgb(254, 155, 34);
  transform: scale(1.02);
}

.saccount-card .register-button {
  color: #007bff;
  background: none;
  text-decoration: none;
}

.saccount-card .register-button:hover {
  color: #0056b3;
}

.saccount-card .support-link {
  color: #007bff;
  text-decoration: none;
}

.saccount-card .support-link:hover {
  color: #0056b3;
  text-decoration: none;
}

/* Additional styles for error and pending states */
.saccount-card.error {
  border-left: 5px solid #ff4d4f;
}

.saccount-card.pending {
  border-left: 5px solid #ffa500;
}
